body {
    background-image: url('/modul_133_project/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainblock {
    background-color: rgb(241, 236, 236,.5);
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    height: 400px;
    position:relative;
}

.form {
    margin-left: 30px;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
    font-family: Arial;
}
input {
  display: inline-block;
  float: left;
}

.error {
    color: #FF0000;
    margin-left: 20px;  
}

.buttoncenter {
    margin: 0;
    position: absolute;
    top: 60%;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-60%, 80%);
}

.button {
    font-size: 24px;
    width: 200px;
    margin: 15px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: Arial;
    font-size: 50px;

}

footer {
    color: white;
    margin-top: auto;
    background-color: rgb(54, 126, 54);
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-family: Arial;
}

.copyright {
    text-align: right;
    margin-right: 5px;
}